<div class="btn-toolbar d-flex justify-content-center" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group mr-2" role="group" aria-label="Group 1">
        <button type="button" 
                class="btn btn-primary mx-2 mt-2"
                [routerLink]="'/new/'">
                Add New Cat
        </button>
        <button type="button" 
                class="btn btn-danger mx-2 mt-2" 
                (click)="deleteAllCats()">
                Delete All
        </button>
        <button type="button" 
                class="btn btn-secondary mx-2 mt-2" 
                [routerLink]="'/home/'">
                Go to Homepage
        </button>  
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle mx-2 mt-2" 
                    type="button" 
                    data-bs-toggle="dropdown" 
                    aria-expanded="false">
              Dropdown button
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#" (click)="orderBy('recent')">Recent</a></li>
              <li><a class="dropdown-item" href="#" (click)="orderBy('name')">Name</a></li>
              <li><a class="dropdown-item" href="#" (click)="orderBy('weight')">Weight</a></li>
              <li><a class="dropdown-item" href="#" (click)="orderBy('life_span')">Life_span</a></li>
            </ul>
          </div>
    </div>
    
</div>
