<div class="container-fluid">
    <div class="row">
        <div *ngFor="let cat of cats;" class="col-sm-6 col-m-6 col-lg-4 col-xl-2 m-2 mx-auto">
            <div class="card">
                <img [src]="cat.img" class="card-img-top" alt="{{ cat.name }}" (error)="handleImageError($event)">
                <div class="card-body">
                    <h5 class="card-title">{{ cat.name }}</h5>
                    <p class="card-text">{{ cat.description }}</p>
                </div>
                <div class="card-buttons d-flex justify-content-center">
                    <button type="button" class="btn btn-info mx-2 mb-2" routerLink="/info/{{cat.id}}">Info</button>
                    <button type="button" class="btn btn-primary mx-2 mb-2" routerLink="/edit/{{cat.id}}">Edit</button>
                    <button type="button" class="btn btn-danger mb-2" routerLink="/delete">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
