<div class="container mt-3 mb-3">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <img src="{{ cat.img }}" class="card-img-top" alt="{{ cat.name }}">
        <div class="card-body">
          <h5 class="card-title">{{ cat.name }}</h5>
          <p class="card-text">{{ cat.description }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Edit Card</h5>
          <form>
            <div class="form-group">
              <label for="name">Name:</label>
              <input type="text" class="form-control" id="name" [(ngModel)]="cat.name" name="name">
            </div>
            <div class="form-group">
              <label for="description">Description:</label>
              <textarea class="form-control" id="description" [(ngModel)]="cat.description" name="description"></textarea>
            </div>
            <button type="submit" class="btn btn-primary mr-2">Save</button>
            <button type="submit" class="btn btn-danger">Cancel</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>