<footer class="footer">
    <div class="container">
        <div class="row">
        <div class="col-md-6 mt-2">
            <h4>Contact information</h4>
            <p>Phone: {{ telefono }}</p>
            <p>Email: {{ email }}</p>
            <p>Address: {{ direccion }}</p>
        </div>
        <div class="col-md-6 mt-2">
            <h4>Util links</h4>
            <ul>
            <li><a href="/home">Inicio</a></li>
            <li><a href="https://www.linkedin.com/in/javiermarcosolmo/">Linkedlin</a></li>
            <li><a href="https://github.com/jjmmarcos">Github</a></li>
            </ul>
        </div>
        </div>
    </div>
    <div class="bottom-bar">
        <div class="container">
        <div class="row">
            <div class="col-md-12">
            <p class="text-center">&copy; 2023 Cats-App. All rights reserved.</p>
            </div>
        </div>
        </div>
    </div>
</footer>