<footer class="footer">
    <div class="container">
        <div class="row">
        <div class="col-md-6">
            <h4>Información de contacto</h4>
            <p>Teléfono: {{ telefono }}</p>
            <p>Email: {{ email }}</p>
            <p>Dirección: {{ direccion }}</p>
        </div>
        <div class="col-md-6">
            <h4>Enlaces útiles</h4>
            <ul>
            <li><a href="/home">Inicio</a></li>
            <li><a href="https://www.linkedin.com/in/javiermarcosolmo/">Linkedlin</a></li>
            <li><a href="https://github.com/jjmmarcos">Github</a></li>
            </ul>
        </div>
        </div>
    </div>
    <div class="bottom-bar">
        <div class="container">
        <div class="row">
            <div class="col-md-12">
            <p class="text-center">&copy; 2023 Cats-App. Todos los derechos reservados.</p>
            </div>
        </div>
        </div>
    </div>
</footer>